spring:
  application:
    name: user-service
  datasource:
    url: jdbc:h2:mem:userdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        "[format_sql]": true
      open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8083

springdoc:
  api-docs:
    path: /v3/api-docs
logging:
  level:
    root: INFO
    "[com.safezone]": INFO
