spring:
  application:
    name: product-service
  datasource:
    url: jdbc:h2:mem:productdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        "[format_sql]": true
      open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8081

jwt:
  secret: ${JWT_SECRET:SafeZoneSecretKeyForJWTAuthenticationMustBeAtLeast256BitsLong}
  expiration: ${JWT_EXPIRATION:86400000}

springdoc:
  api-docs:
    path: /v3/api-docs
logging:
  level:
    root: INFO
    "[com.safezone]": INFO
    "[org.springframework.security]": INFO
