# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: CI & SonarQube
permissions:
  statuses: write

on:
  push:
    branches: [main, feature/**]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Clean Mockito cache (force redownload)
        run: rm -rf ~/.m2/repository/org/mockito/mockito-core

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-nocorrupt
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build & test
        run: |
          mvn -B -q -DskipTests=false clean verify
