# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: CI & SonarQube
permissions:
  statuses: write

on:
  push:
    branches: [main, feature/**]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Clean Mockito cache (force redownload)
        run: rm -rf ~/.m2/repository/org/mockito/mockito-core

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-fixmockito
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build & test
        run: |
          mvn -B -q -DskipTests=false clean verify

  sonarcloud:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-fixmockito
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: SonarCloud Analysis
        run: |
          mvn -B -q sonar:sonar \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=clecart \
            -Dsonar.projectKey=clecart_safe-zone \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
